@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #eff0e6;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #dcdcdc;
}

.word-container {
    width: 120px;
    height: 50px;
    background-color: #eff0e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: grab;
    border-radius: 10px;
    border: 2px solid transparent;
}

.word-container.selected {
    border: 2px solid black;
}
